@model IEnumerable<LearningCoreAppWithValidation.ViewModels.CenterList>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr> <th>
                    <label>Parent Center:</label>
                </th>
                <th>
                    <label>Center Name</label>

                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    <label>Center Type:</label>
                </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCenter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenterType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" >View Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Would you like to delete this Item');">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
